<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite"  parallel="tests" thread-count="2" verbose="1">
    <!--<listeners> &lt;!&ndash; if you add listeners here you should remove @listener from test class to avoid duplication, better to remove it from xml &ndash;&gt;-->
        <!--<listener class-name="Listeners.TestListene.r"/>-->
    <!--</listeners>-->
    <test name="Nexus 5">
        <parameter name="deviceName" value="Nexus_5"/>
        <parameter name="udid" value="04ccf63925272a44"/>
        <parameter name="deviceId" value="mdf:7417"/>
        <parameter name="platformVersion" value="6.0.1"/>
        <parameter name="URL_" value="mdf"/>
        <parameter name="Sport" value="4723"/>
        <parameter name="bootStrap" value="100"/>
        <parameter name="sysPort" value="8200"/>
        <parameter name="wdaPort" value="8240"/>
        <parameter name="path" value="/Applications/Appium.app/Contents/Resources/app/node_modules/appium/build/lib/selenium/note5.json"/>
        <classes>
            <class name="Tests.LandingPageTest"/>
        </classes>
    </test> <!-- Nexus Emulator DEVICE -->
<!--    <test name="Samsung Galaxy S4">-->
<!--        <parameter name="deviceName" value="GT-I9505"/>-->
<!--        <parameter name="udid" value="841af58f"/>-->
<!--        <parameter name="deviceId" value="192.168.1.2:5556"/>-->
<!--        <parameter name="platformVersion" value="5.0.1"/>-->
<!--        <parameter name="URL_" value="mdf"/>-->
<!--        <parameter name="Sport" value="4724"/>-->
<!--        <parameter name="bootStrap" value="200"/>-->
<!--        <parameter name="sysPort" value="8201"/>-->
<!--        <parameter name="wdaPort" value="8250"/>-->
<!--        <parameter name="path" value="/Applications/Appium.app/Contents/Resources/app/node_modules/appium/build/lib/selenium/note5.json"/>-->
<!--        <classes>-->
<!--            <class name="Tests.LandingPageTest"/>-->
<!--        </classes>-->
<!--    </test> &lt;!&ndash; Pixel Emulator DEVICE &ndash;&gt;-->
</suite>
